
body {
  text-align: center;
  padding-bottom: 20%;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #808080;
  border-collapse: collapse;
}

th {
  background-color: #1F78B4;
  color: #FFFFFF;
  border: 1px solid #808080;
  padding-right: 10px;
  padding-left: 10px;
}

td {
  border: 1px solid #808080;
  padding-right: 10px;
  padding-left: 10px;
}

.maintitle {
  text-align: center;
  padding-top: 0px;
}

h2 {
  text-align: center;
  padding-top: 80px;
}

h3, h4 {
  padding-top: 30px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
